header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem;
	border-bottom: 1px solid #ccc;
}

button {
	all: unset;
	cursor: pointer;
	padding: 0.5rem;
	border-radius: 0.5rem;
	transition: background 0.2s;
  
	&:hover {
	  background: #eee;
	}
  }
  