mat-list-item {
	--mdc-list-list-item-container-height: auto; 
	// !!!!!!!!!!!!!!!! DA VEDERE --mdc --mdc --mdc !!!!!!!!!!!!!!!!
	// e te pareva che ci fosse qualcosaltro da imparare da zero a notte fonda
	padding: 0.5rem 1rem;
	min-height: auto;
	height: auto;
	align-items: center;
}